body{
  background: black;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
li{
  list-style: none;
}
#network-topology line{
  stroke-width: 2px;
  cursor: pointer;
}
#network-topology .node{
  cursor: pointer;
}
#network-topology .node text{
  /*pointer-events: none;*/
  font: 14px sans-serif;
  fill: #bdb2b2;
}
#update{
  position: absolute;
  z-index: 500;
  left: 30px;
  top: 50px;
  background: #17b917;
  width: 50px;
  height: 24px;
  cursor: pointer;
}
#syn{
  position: absolute;
  z-index: 500;
  left: 90px;
  top: 50px;
  background: #17b917;
  width: 50px;
  height: 24px;
  cursor: pointer;
}
#alarm{
  position: absolute;
  right:100px;
  top: 50px;
  width: 500px;
  background-color: #dadaab;
  border-radius: 3px;
  overflow: auto;
}
#alarm #header{
  position: relative;
  text-align: center;
  padding: 7px 0;
  background-color: #b7b6b6;
  font-size: 12px;
}
#alarm #header span{
  cursor: pointer;
  color: #ab651d;
}
#alarm #header span:hover{
  color: #c77a19;
}
#alarm #content{
  overflow: auto;
  max-height: 200px;
}
#alarm ul{
   margin: 20px 12px 12px;
}
#alarm li{
  list-style: none;
  line-height: 20px;
  font-size: 14px;
}
.close{
  position: absolute;
  right: 6px;
  top: 6px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-image: url("images/close.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
}
#topology_container{
  width: 100%;
  height: 100%;
  position: absolute;
}